.App {
  text-align: center;
}

.App__nav {
  height: 20vh;
  max-height: 150px;
  min-height: 100px;
  background: hsl(140, 70%, 34%);
  display: flex;
}

.App__nav-item {
  border-radius: 0;
  background: transparent;
  border: none;
  appearance: none;
  flex-grow: 1;
  flex-basis: 25%;
  font-size: 2em;
  border: 1px solid black;
}
.App__nav-item--active {
  color: white;
}
.App__nav-item:not(:last-child) {
  border-right: none;
}

.App__body {
  background: hsl(140, 90%, 44%);
  flex-grow: 1;
  padding: 15px;
  display: flex;
}
.App__body > * {
  width: 100%;
}
